html{
    box-sizing: border-box;
}
*, 
*::after,
*::before{
    box-sizing: inherit;
}
body{
    font-size: 16px;
    line-height: 1.5;
    color: #2b2b2b;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}
a{
    color: inherit;
    text-decoration: none;
}
button{
    background-color: transparent;
    border: none;
    padding: 0;
    font-family: inherit;
    color: inherit;
    display: inline-block;
    cursor: pointer;
}
ul{
    list-style: none;
}
input{
    font-family: inherit;
    color: inherit;
    outline: none;
}
input::placeholder{
    font-family: inherit;
    color: inherit;
}
.container{
    max-width: 1740px;
    margin: 0 auto;
    padding: 0 10px;
}
.section-box{
    padding: 150px 0;
}
.section__title{
    text-transform: uppercase;
    margin-bottom: 55px;
    font-weight: 300;
    font-size: 42px;
    line-height: 1.16;
}
.header{
    background-image: image-set(
        '../images/header-bg.avif' type('image/avif'),
        '../images/header-bg.webp' type('image/webp'),
        '../images/header-bg.jpg' type('image/jpeg'),
    );
    background-image: url(../images/header-bg.webp);
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #f5f5f5;
}
.header__top{
    padding: 64px 0;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    font-weight: 300;
}
.menu{
    justify-self: start;
}
.menu__btn::after, 
.menu__btn::before{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #f5f5f5;
}
.menu__btn::after{
    top: 0;
}
.menu__btn::before{
    bottom: 0;
}
.menu__btn{
    display: none;
    align-items: center;
    width: 40px;
    height: 24px;
    justify-content: center;
    position: relative;
    z-index: 10;
}
.menu__btn span{
    background: #f5f5f5;
    height: 2px;
    width: 100%;
}
.menu__list{
    display: flex;
    gap: 40px;
    text-transform: uppercase;
    font-weight: 300;
}
.logo{
    justify-self: center;
}
.header__phone{
    justify-self: end;
    display: flex;
    gap: 10px;
}
.header__title{
    padding-top: 100px;
    margin-bottom: 30px;
    font-size: 85px;
    line-height: 1.2;
    text-transform: uppercase;
    font-weight: 400;
    max-width: 835px;
}
.header__text{
    font-size: 24px;
    line-height: 1.16;
    max-width: 758px;
    margin-bottom: 30px;
}
.header__btn{
    text-transform: uppercase;
    font-size: 18px;
    line-height: 1.16;
    color: #2b2b2b;
    font-weight: 300;
    background-color: #f5f5f5;
    padding: 20px 49px;
    display: inline-block;
}

/* services section */
.services{
    background-color: #171717;
    color: #f5f5f5;
}
.services__list{
    border-bottom: 1px solid #f5f5f5;
}
.services__item{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    padding: 24px 0;
    border-top: 1px solid #f5f5f5;
    padding-right: 44px;
}
.services__item-title{
    font-size: 28px;
    line-height: 1.16;
    text-transform: uppercase;
    font-weight: 300;

}
.services__item-text{
    max-width: 800px;
    width: 100%;
}
/* projects section */
.projects__slider{
    padding-bottom: 50px;
    overflow: visible;
}
.projects__item{
    padding: 20px;
    border: 1px solid #d9d9d9;
    max-width: 560px;
}
.projects__item img{
    width: 100%;
    margin-bottom: 40px;
}
.projects__item-title{
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 28px;
    line-height: 1.16;
}
.projects__item-descr{
    font-size: 18px;
    margin-bottom: 30px;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 1.16;
}
.projects__item-text{
    margin-bottom: 30px;
}
.projects__item-btn{
    display: inline-block;
    text-transform: uppercase;
    padding: 19px 100px;
    font-size: 18px;
    font-weight: 300;
    border: 1px solid #d9d9d9;
}
.projects__arrow{
    cursor: pointer;
    bottom: -5px;
    position: absolute;
    left: 50%;
}
.projects__arrow-prev{
    transform: translateX(-75px);
}
.projects__arrow-next{
    transform: translateX(15px);
}

/* steps section */
.steps{
    padding: 60px 0 100px;
    background-color: #171717;
    color: #f5f5f5;
    display: flex;
}
.steps__title{
    max-width: 562px;
}
.steps__list{
    max-width: 562px;
    list-style: none;
    counter-reset: my-counter;
}
.steps__item{
    counter-increment: my-counter;
    padding-left: 57px;
    position: relative;
    padding-bottom: 40px;
}
.steps__item:last-child{
    padding-bottom: 0;
}
.steps__item:last-child::after{
    display: none;
}
.steps__item::before{
    content: counter(my-counter);
    width: 40px;
    height: 40px;
    position: absolute;
    font-size: 15px;
    font-weight: 600;
    border: 1px solid #f5f5f5;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
}
.steps__item::after{
    content: '';
    position: absolute;
    width: 1px;
    background-color: #f5f5f5;
    left: 20px;
    top: 48px;
    bottom: 8px;
}
.steps__item-title{
    font-size: 24px;
    line-height: 1.16;
    font-weight: 300;
    margin-bottom: 12px;
    padding-top: 6px;
}
.steps__img img{
    width: 100%;
    display: block;
    height: 100%;
    object-fit: cover;
}
/* catalog section */
.catalog__title{ 
    max-width: 556px;
}
.catalog__content{
    display: flex;
    gap: 50px;
    align-items: center;
    margin-bottom: 150px;
}
.catalog__form{
    max-width: 560px;
    width: 100%;
}
.catalog__form-title{
    max-width: 430px;
    margin-bottom: 20px;
    font-weight: 300;
    font-size: 28px;
    line-height: 1.16;
    text-transform: uppercase;
}
.catalog__form-text{
    max-width: 430px;
    font-size: 18px;
    line-height: 1.16;
    text-transform: uppercase;
    margin-bottom: 50px;
}
.catalog__form-input{
    display: inline-block;
    padding: 20px;
    border: 1px solid #171717;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 100;
    line-height: 1.16;
    margin-bottom: 30px;
    width: 100%;
    display: block;
}
.catalog__form-label{
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 14px;
    font-weight: 300;
}
.catalog__form-checkbox{
    width: 17px;
    height: 17px;
    accent-color: #171717;
}
.catalog__form-btn{
    padding: 20px 54px;
    color: #f5f5f5;
    background-color: #171717;
    text-transform: uppercase;
    font-weight: 300;
    line-height: 1.16;
    font-size: 18px;
    margin-top: 50px;
}
.gallery{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
}
.gallery img{
    width: 100%;
}
/* request section */
.request{
    padding-bottom: 150px;
}
.request__inner{
    background-image: url(../images/contact-bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 184px 0;
    display: flex;
    justify-content: center;
}
.request__inner-form{
    background-color: rgba(23, 23, 23, .85);
    max-width: 1000px;
    padding: 70px 115px;
    margin: 0 auto;
}
.request__form{
    display: flex;
}
.request__title{
    color: #f5f5f5;
}
.request__input{
    display: inline-block;
    padding: 20px;
    border: none;
    font-size: 18px;
    font-weight: 100;
    line-height: 1.16;
    background-color: #d9d9d9;
    width: 100%;
    color: #2b2b2b;
}
.request__form-btn{
    background-color: #f5f5f5;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 1.16;
    padding: 20px 50px;
    font-weight: 300;
    width: 360px;
}
/* footer */
.footer{
    background-color: #171717;
    padding: 100px 0;
    color: #f5f5f5;
}
.footer__inner{
    margin-bottom: 10px;
    display: flex;
    align-items: end;
    gap: 100px;
}
.footer__logo{
    margin-right: auto;
}
.footer__nav{
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-transform: uppercase;
    font-weight: 300;
}
.footer__social{
    display: flex;
    flex-direction: column;
    font-size: 14px;
    gap: 15px;
}
.footer__social-link{
    display: flex;
    gap: 10px;
    line-height: 1.16;
}
.footer__contacts{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.16;
}
.footer__contacts-link{
    display: flex;
    gap: 10px;
}
.footer__contacts-map{
    align-self: start;
}
.footer__contacts-time{
    padding-left: 25px;
}
.footer__copyright{
    display: flex;
    gap: 6px;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.16;
}
/* responsive */
@media (max-width: 1500px) {
    .footer__inner{
        gap: 50px;
        padding-right: 0;
    }
}
@media (max-width: 1300px) {
    .menu__btn{
        display: flex;
    }
    .menu__list{
        position: absolute;
        inset: 0;
        background-color: #171717;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transform: translateY(-100%);
        transition: transform .5s ease;
    }
    .menu__list.active{
        transform: translateY(0);
    }
    .services__item{
        padding-right: 0;
        display: block;
    }
    .steps{
        display: block;
    }
    .steps__list{
        padding-bottom: 40px;
    }
   .catalog__content{
    display: block;
   }
   .catalog__content img{
    width: 100%;
    margin-bottom: 40px;
   }
}
@media (max-width:1090px) {
    .gallery{
        grid-template-columns: repeat(3, 1fr);
    }
    .catalog__content{
        margin-bottom: 50px;
    }
    .footer__inner{
        flex-wrap: wrap;
        gap: 30px 135px;
    }
}
@media (max-width: 820px){
    .footer__inner{
        flex-direction: column;
        gap: 30px 0;
        align-items: start;
    }
}
@media (max-width: 740px) {
    .header__top{
        padding: 40px 0;
    }
    .header__title{
        padding-top: 75px;
        font-size: 64px;
    }
    .section-box{
        padding: 50px 0;
    }
    .section__title{
        margin-bottom: 20px;
        font-size: 28px;
    }
    .services__item{
        padding: 10px 0;
    }
    .services__item-title{
        font-size: 20px;
    }
    .projects__item{
        padding: 10px 0;
    }
    .projects__item img{
        margin-bottom: 20px;
    }
    .projects__item-title{
        font-size: 24px;
    }
    .projects__item-descr{
        font-size: 16px;
        margin-bottom: 10px;
    }
    .projects__item-text{
        font-size: 15px;
    }
    .projects__item-btn{
        padding: 16px 100px;
        font-size: 16px;
    }
    .steps{
        padding: 50px 0;
    }
    .catalog__form{
        max-width: 100%;
    }
    .gallery{
        grid-template-columns: repeat(2, 1fr);
    }
    .request{
        padding-bottom: 50px;
    }
    .request__inner{
        padding: 85px 0;
    }
    .request__form{
        flex-direction: column;
        gap: 20px;
    }
    .request__form-btn{
        width: 100%;
    }
    .request__inner-form{
        padding: 50px 10px;
    }
    .footer{
        padding: 50px 0;
    }
}
@media (max-width: 540px) {
    .header__phone img{
        width: 22px;
    }
    .header__phone span{
        display: none;
    }
    .header__title{
        padding-top: 50px;
        font-size: 44px;
    }
    .header__text{
        font-size: 22px;
    }
    .header__btn{
        font-size: 16px;
        padding: 16px 49px;
    }
    .steps__item::before{
        width: 20px;
        height: 20px;
        font-size: 12px;
    }
    .steps__item::after{
        left: 10px;
        top: 28px;
    }
    .steps__item{
        padding-left: 37px;
        padding-bottom: 20px;
    }
    .steps__item-title{
        font-size: 22px;
        margin-bottom: 5px;
        padding-top: 0px;
        margin-top: -1px;
    }
    .catalog__content img{
        margin-bottom: 20px;
    }
    .catalog__form-title{
        font-size: 20px;
        margin-bottom: 10px;
    }
    .catalog__form-text{
        font-size: 16px;
        margin-bottom: 15px;
    }
    .catalog__form-input{
        font-size: 16px;
        padding: 10px;
        margin-bottom: 20px;
    }
    .catalog__form-btn{
        margin-top: 20px;
    }
    .gallery{
        grid-template-columns: 1fr;
    }
    .footer__social{
        flex-direction: row;
    }
    .footer__social-link span{
        display: none;
    }
}